{% extends "allpoll/base.html" %}
{% block content %}
<h1>Poll List</h1>
<ul class="b-poll-list">
  {% for poll in poll_list %}
  <li>{% if poll.can_vote %}
        {% include "allpoll/block_result.html" %}
      {% else %}
        {% include "allpoll/block_vote.html" %}
      {% endif %}
  {% endfor %}
</ul>

{% if is_paginated %}
<div class="b-paginator">
  {% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}" class="paginator-prev">← Newer</a>{% endif %}
  {% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}" class="paginator-next">Older →</a>{% endif %}
</div>
{% endif %}

{% endblock %}